.main-container{
  height: 100vh;
  /* background-color: #C0EEF2; */
  background-image: url('../src/Images/bg-image.jpg');
  background-size: cover;
}

.input-container{
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}

.card-list{
  display: flex;
}

.card-title{
  color: black;
  padding-left: 10px;
  font-family: 'merriweather';
}